@model List<CrowdfundCore.Project>

<body>
    <div class="bg">
        <img src="~/NewFolder/Crowdfunding.jpg" class="center" alt="Crowdfund" style="max-height:1800px;max-width:1800px ">
    </div>
</body>