@model CrowdfundCore.Project

<div class="jumbotron">
    <h1 class="display-4">@Model.Title</h1>
    <p class="lead">@Model.Description</p>
    <hr class="my-4">
    <p>Deadline: @Model.Deadline.ToString("dd/MM/yyyy")</p>
    <p><strong>Budget required: @Model.budget</strong></p>
</div>
