@model List<CrowdfundCore.Project>
@{
    foreach (var project in Model) {

        <div class="card" style="width: 18rem;margin-top: 20px">
            <img class="card-img-top" src="~/NewFolder/2.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">@project.Title</h5>
                <p class="card-text">@project.Description</p>
                <p class="card-text">@project.Deadline.ToString("dd/MM/yyyy")</p>
                <a href="@Url.Action("detail", "project", new { id = project.Id })" class="btn btn-primary">More...</a>
            </div>
        </div>
    }
}
