@model  List<CrowdfundCore.Project> 

@{
    foreach (var project in Model)
    {
     
        <ul class="list-group list-group-flush">
            <li class="list-group-item">@project.Title      @project.Description        @project.Deadline</li>
  
</ul>
    }
}
